@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
}
body{
  font-family: "Poppins", sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
button{
  all: unset;
  background: rgb(202, 35, 35);
  color: white;
  padding: 6px 16px;
  height: 32px;
  font-weight: 500;
  cursor: pointer;
}
.Hero-contant{
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.Hero{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  height: calc(100 - 72);
}
.Hero-contant h1{
  font-weight: 800;
  font-size: 108px;
  line-height: 102px ;
}
.Hero-contant p{
  font-weight: 600;
  color: rgb(48, 46, 46);
  max-width: 400px;
}
.hero-btn{
  display: flex;
  gap: 40px ;
}
.hero-btn button{
  font-size: 20px;
}
.btn-2{
  background: transparent;
  color: rgb(44, 43, 43);
  border: 1px solid rgb(44, 43, 43);;
}
.shopping p{
  font-size: 16px;
  margin-bottom: 8px;
}
.brand{
  display: flex;
  gap: 16px;
}

/* reponsive for small screen */

@media (min-width: 360px) and (max-width: 767px){
  nav{
    max-width: 500px;
  }
  button{
    height: 25px;
  }
  .Hero{
    max-width: 500px;
  }
  .Hero-img{
    display: none;
  }
  .Hero-contant h1{
  font-weight: 600;
  font-size: 80px;
  line-height: 80px ;
}
}
/* Popup styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #b6b4b4;
  border-radius: 6px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
