*{
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
button{
  all: unset;
  background: rgb(202, 35, 35);
  color: white;
  padding: 6px 16px;
  height: 32px;
  font-weight: 500;
}